html {
  font-size: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
div.center-box {
  width: 400px;
  height: 400px;
  background-color: brown;
  border-radius: 20px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
